html {
	font:400 18px/1.57 "Helvetica Neue Medium", "Helvetica Neue", Helvetica, Arial, Trebuchet, sans-serif;
}

body {
	background: url(../img/bg.png);
	color: #DBDBDB;
}

a {
	color: #DBDBDB;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

fieldset {
	padding:10px 20px 20px 20px;
}

.container {
	background-color: #48494C;
	border: 1px solid #e2e2e2;
	margin:80px auto;
	min-height: 100px;
	overflow: hidden;
	padding: 20px;
	width: 800px;
}

label {
	display: block;
}

input {
	border: 1px solid #999;	
	box-sizing: border-box;
	display: inline-block;
	font-size: 24px;	
	height: 40px;
	padding:0;
	width: 69%;
}
input[type=button] {
	width: 30%;
}
input[type=text] {
	padding-left:10px;
}
.count {
	background-color:#ff7400;
	border-radius: 5px;
	color:#863c00;
	padding:1px 3px;
	
}

#list {
	width:100%;
}
#list aside {
	float:right;
	width: 28%;
}

#list .results {
	float:left;
	width: 60%;
}

#list ul {
	list-style:none;
	margin:0;
	padding:0;	
}

.results li {
	border-bottom: 1px solid #626367;
	overflow: hidden;
	padding:20px 0;

}

.results a {
	max-width: 300px;
}

.results li > * {
	float:left;
}

.results img + a {
	margin-left: 10px;
}
.results .count {
	margin-left: 10px;
}
.results .popular {
	position: relative;
}
.results .popular:after {
	content: "\2605";
	position: absolute;
	right:20px;	
}
.results .most.popular:after {
	color:yellow;
}

.filter h2 {
	margin-top:0;
}

.filter .selected a {
	color: gray;
}